# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Node / React
node_modules/
build/
dist/

# VS Code
.vscode/

# Environment variables
.env

# Data files (optional)
data/*
!data/.keep